{% extends 'base.html' %}

{% block title %}Lista de Posts{% endblock %}

{% block content %}
<h2 class="mb-4">Posts</h2>
<button><a href="{% url 'criar_post' %}">Cadastro</a></button>

<div class="row">
{% for post in posts %}
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ post.autor }}</h5>
        <p class="card-text">{{ post.mensagem }}</p>
        <small class="text-muted">{{ post.criado_em }}</small>
      </div>
    </div>
  </div>
{% empty %}
  <p>Nenhum herói encontrado.</p>
{% endfor %}
</div>
{% endblock %}
